<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
        IT_News
        {% block title %}
        {% endblock %}
    </title>
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{url_for('page1')}}">IT news</a>
			</div>
			<div class="navbar-menu">
				<ul class="hr">
					<li class="active">
						<a href="{{ url_for('posts.index') }}">Домой   <i class="fa fa-home" aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="{{ url_for('page2') }}">Page2</a>
					</li>
					<li>
						<a href="{{ url_for('page3') }}">Page3</a>
					</li>
					<li>
						<a href="{{ url_for('page4') }}">Page4</a>
					</li>
					<li>
						<a href="{{ url_for('page5') }}">Page5</a>
					</li>
					<li>
						<a href="{{ url_for('page6') }}">Про нас</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
    {% block content_title %}
    {% endblock %}

<div id="headerback">
{% block content %}
{% endblock %}
	</div>

</body>
</html>
