<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>IT_News</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
	<div class="header">
		<p class="it"><i>IT_News</i></p>
		<form name="Test" action="" method="post" class="search">
			<label for="search"></label><input type="text" placeholder="Search..." name="search" id="search" maxlength="255" />
		</form>
	</div>
	<div class="navbar">
		<button class="botton1"><a href="#">Страница 1</a></button>
		<button class="botton2"><a href="#">Страница 2</a></button>
		<button class="botton3"><a href="#">Страница 3</a></button>
		<button class="botton4"><a href="#">Страница 4</a></button>
		<button class="botton5"><a href="#">Страница 5</a></button>
		<button class="botton6"><a href="#">Страница 6</a></button>
	</div>
</body>
</html>