 * {
	background-color: #f0f8ff;
}

.header {
	display: inline-block;
}

.header#search {
	float: right;
	margin-right: 150px;
	margin-top: 60px;
}

.header#it{
	font-family: Impact;
	font-size: 30px;
	margin-top: 50px;
	margin-left: 200px;
}

a {
	text-decoration: none;
}

.navbar {
	background-color: #f8f8f8;
	height: 35px;
	border: 1px groove pink;
	border-radius: 10px;
	padding-top: 15px;
}

.a1 {
	float: left;
	font-family: Impact;
	font-size: 15px;
	margin-left: 25px;
	background-color: #f8f8f8;
	width: 17%;
}

.a2 {
	font-family: Impact;
	font-size: 15px;
	background-color: #f8f8f8;
	float: left;
	width: 17%;
}

.a3 {
	font-family: Impact;
	font-size: 15px;
	background-color: #f8f8f8;
	float: left;
	width: 17%;
}

.a4 {
	font-family: Impact;
	font-size: 15px;
	background-color: #f8f8f8;
	float: left;
	width: 17%;
}

.a5 {
	font-family: Impact;
	font-size: 15px;
	background-color: #f8f8f8;
	float: left;
	width: 16%;
}

.a6 {
	font-family: Impact;
	font-size: 15px;
	background-color: #f8f8f8;
	float: left;
}

.news {
	border: 1px groove pink;
	border-top: none;
	width: 73%;
	margin-left: 130px;
	margin-right: 100px;
	height: 800px;
	background-color: #f8f8f8;
}