{% extends 'base.html' %}

{% block title %}

    Write your news

{% endblock %}

{% block content_title %}
{% endblock %}

{% block content %}

    <div class="col-md-6">

        <form action="{{url_for('posts.create_post')}}" method="POST">

            {% for field in form %}

            <div class="form-group">

                {{ field.label(class='control-label') }}
                {{ field(class='form-control')}}

            </div>

            {% endfor %}

            <button type="submit" class="btn btn-info">Create</button>

        </form>
    </div>

{% endblock %}